
<nav class="navbar-custom">  
 
    <ul class="nav">
        <li class="nav-item" ><a class="nav-link" style="color:#404445" href="#">
            <b>Players</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>Teams</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>Seasons</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>Leaders</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>NHL Scores</b>
                <span class="position-absolute top-40 start-35 translate-middle badge rounded-pill bg-danger">
                  1
                  <span class="visually-hidden">recents</span>
                </span>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>Playoffs</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>Stathead</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
            <b>Newsletter</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#404445" href="#">
          
            <b>Full Site Menu Below</b>
        </a> </li>
        <style>
            /* Modify the background color */
           
            .navbar-custom {
                background-color:    #edeeef;
                border-top:1px solid #c9cbcd;
                border-bottom:3px solid #0b6186;
                font-family: Arial, Helvetica, sans-serif;
             
  padding-left:25px;
  padding-right:10px;
  
                
            }
            /* Modify brand and text color */
           
        </style>
        
    </ul>
   
    
</nav>

