
<nav class="navbar-custom">  

<ul class="nav">
    <li class="nav-item spacer" ><a class="nav-link" style="color:#404445" href="#">
        <b>{{a}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{b}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{c}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{d}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{e}}</b>
            <span class="position-absolute top-40 start-35 translate-middle badge rounded-pill bg-danger">
              {{number_of_alerts}}
              <span class="visually-hidden">recents</span>
            </span>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{f}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{g}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
        <b>{{h}}</b>
    </a> </li>
    <li class="nav-item spacer"><a class="nav-link" style="color:#404445" href="#">
      
        <b>{{i}}</b>
    </a> </li>
        <style>
            /* Modify the background color */
           
            .navbar-custom {
                background-color:    #edeeef;
                border-top:1px solid #c9cbcd;
                border-bottom:3px solid #0b6186;
                font-family: Arial, Helvetica, sans-serif;
             
  padding-left:25px;
  padding-right:100px;
  
                
            }

            .spacer{
                padding-right: 50px;;
            }
            /* Modify brand and text color */
           
        </style>
        
    </ul>
   
    
</nav>

