
<nav class="navbar bg-light">  
    
    <ul class="nav">
        <li class="nav-item" ><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Players</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Teams</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Seasons</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Leaders</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>NHL Scores</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Playoffs</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Stathead</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            <b>Newsletter</b>
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:rgb(95, 86, 86)" href="#">
            
            <b>Full Site Menu Below</b>
        </a> </li>
    </ul>
    <ul class="nav">
       
    </ul>
</nav>


<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class=" container">
    <ul class="nav">
        
        <li class="nav-item" ><a class="nav-link" href="#">
            Sports Reference 
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
           Baseball
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
            Football (College) 
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
            Basketball (College)
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
            Hockey
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
            Football
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
            Blog
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
          Stathead
        </a> </li>
        <li class="nav-item" ><a class="nav-link" href="#">
            Widgets
        </a> </li>
    </ul>
    <ul class="nav">
       
    </ul>
</div>

<a class="navbar-brand" href="#">
    <img src="https://d2p3bygnnzw9w3.cloudfront.net/req/202108231/images/hr/imagesonice.gif" alt="" width="300" height="60">
  </a>
</nav>