<nav class="navbar bottom nav-custom">
        <div class=" container">
        <ul class="nav">
            
            <li class="nav-item" ><a class="nav-link" href="#">
                Sports Reference 
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
               Baseball
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
                Football (College) 
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
                Basketball (College)
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
                Hockey
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
                Football
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
                Blog
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
              Stathead
            </a> </li>
            <li class="nav-item" ><a class="nav-link" href="#">
                Widgets
            </a> </li>
        </ul>
        <ul class="nav">
           
        </ul>
        <style>
            /* Modify the background color */
           
            .nav-custom {
                background-color:    #edeeef;
                border-top:1px solid #c9cbcd;
                border-bottom:3px solid #0b6186;
                
            }
            /* Modify brand and text color */
           
        </style>
    </div>
    
    <a class="navbar-brand" href="#">
        <img src="https://d2p3bygnnzw9w3.cloudfront.net/req/202108231/images/hr/imagesonice.gif" alt="" width="300" height="60">
      </a>
</nav>