<div class="card card-custom shadow-lg  bg-white rounded" style="width: 35rem; height: 100rem;">
   
    <div class="card-header  head-custom"> <a style="color:#ffffff" href="/players/">{{Header}}</a>

      
      </div>
      <div class="card-body">
        
<p> 
</p>
       
    <style>
     
       
        .card-custom {
      
            border-top:1px solid #c9cbcd;
            border-bottom:3px solid #0b6186;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 26px;
            font-weight: bold;

         

         
margin-left:20px;
margin-top: 10px;


            
        }
        .head-custom{
            display: block;
                font-size: 1.5em;
            height: 50px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                
                background-color: #0b6186;
                padding: 5px 8px;
                color: #edeeef;
                font-weight: bold;
                font-size: 24px;
}
        .myClass{
            background-color: #0b6186;
            color: white;
            width: 66px; height: 50px;
            padding-right: 5px;
            padding-left: 5px;
        }
        /* Modify brand and text color */

        .customize-bar{
            border-top:1px solid #c9cbcd;
            border-bottom:1px solid #c9cbcd;
            border-right:1px solid #c9cbcd;
            border-left:1px solid #c9cbcd;
            margin-bottom: 8px;
        }

        .spacer{
            margin-bottom: 30px;
            margin-left: 8px;
        }

        .custom-select{
            width: 320px;
            color: grey;
        }

        .custom-secondary{
            width: 1000px;
        }
       
        .drop-spacing{
            padding-top: 0px;
        }

    .HOF-Select{
        width: 450px;
        
        border-top:1px solid #c9cbcd;
            border-bottom:1px solid #c9cbcd;
            border-right:1px solid #c9cbcd;
            border-left:1px solid #c9cbcd;
            margin-top: 1px;
            margin-bottom: 16px;
           
    }

    .help-space{
       
       margin-top:8px;
       margin-bottom: 12px;
       width: 450px;
       color: grey;
       
      }

    </style>
   
    
  </div>
