<div style="background-color: white;">
    <div class= "header">
    <b>NHL & WHA Player Directory</b>
        </div>

        <div class= "subheader">
            <b>Index of Letters</b>
                </div>

            

                <div class= "index">
                    A   B  C  D  E  F  G  H  I  J  K  L  M  N  O  P  Q  R  S  T  U  V  W  X  Y  Z
                        </div>

       
                        <div class= "descript1">
                            Active players are listed in <b>bold</b>.
                            
                                </div>                 
        
                                <div class= "descript2">
                                    Members of the Hockey Hall of Fame are marked with an asterisk (*).
                                    
                                        </div>  
                               
    <style>
         .header{
       font-size: 26px;
       margin-left: 18px;
       margin-top: 30px;
       margin-bottom: 18px;
         }

         .subheader{
       font-size: 24px;
       margin-left: 18px;
        color: #0b6186;
         }

         .index{
            color: #0b6186;
            font-size: 48px;
            margin-left: 26px;
         }

         .descript1{
 
       margin-left: 18px;
       margin-top: 30px;
       
         }

         .descript2{
            margin-left: 18px;
             margin-bottom: 18px;
         }
    </style>
</div>

