   <thead class="table table-hover table-bordered background-color: table-light">
        <tr>
          <th scope="col">Team</th> 
          <th scope="col">W</th> <th scope="col">L</th> <th scope="col">OT </th> <th scope="col">PTS</th> <th scope="col">RW</th> <th scope="col">RgRec</th> <th scope="col">RgPt%</th>
    
        </tr>
      </thead>
  <tbody>
    <tr class="spacers">
      <th scope="row">{{team}}</th>
      <td >{{wins}}</td>
      <td>{{loss}}</td>
      <td>{{OT}}</td>
      <td>{{PTS}}</td>
      <td>{{RW}}</td>
      <td>{{RegRC}}</td>
      <td>{{Regper}}</td>
    
   
    </tr>
    <style>
        .spacers{
            font-size:16px;
            padding-left: 30px;
        }
    </style>
  </tbody>


  