<div class= "header">
    <b>NHL Teams & Other Hockey Teams</b>
    <style>
        .header{
      font-size: 26px;
      margin-left: 18px;
      margin-top: 30px;
      margin-bottom: 18px;
        }

        .subheader{
      font-size: 24px;
      margin-left: 18px;
       color: #0b6186;
        }

        .index{
           color: #0b6186;
           font-size: 48px;
           margin-left: 26px;
        }

        .descript1{

      margin-left: 18px;
      margin-top: 30px;
      
        }

        .descript2{
           margin-left: 18px;
            margin-bottom: 18px;
        }
   </style>
        </div>

      