.input-mysize { width: 750px; font-size: 24px; font-family: Arial, Helvetica, sans-serif;}
.btn-mysize {width: 200px; height: 50px; color:white; font-size: 24px; font-family: Arial, Helvetica, sans-serif ;}
.myClass {background-color: #0b6186;}
.myColor {background-color: orchid;}
.navbar-custom {font-size: 1px;}
