<nav class="navbar-custom">  
   
    <ul class="nav">
        <li class="nav-item" ><a class="nav-link" style="color:#c9cbcd" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Sports_Reference_pennant_yellow.svg/1200px-Sports_Reference_pennant_yellow.svg.png" alt="" width="28" height="22">{{directory}} 
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link2}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link3}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
          {{link4}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link5}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link6}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link7}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link8}}
        </a> </li>
        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
         {{link9}}
        </a> </li>
        <style>
            /* Modify the background color */
             
            .navbar-custom {
                background-color: #404245;
                height: 32px;
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
            }
         
            /* Modify brand and text color */
           
        </style>
        <li class="nav-item"><a class="nav-link nav-sty" style="color:#c9cbcd" href="#">
          {{link10}}
           <style>
                .nav-sty{
                    padding-left:550px;
  padding-right:1px;
                }
        
           </style>
           </a> </li>

           <li class="nav-item"><a class="nav-link log-sty" style="color:#c9cbcd" href="#">
            {{link11}}
            <style>
                .log-sty{
                    padding-left:15px;
  padding-right:1px;
                }
        
           </style>
        </a> </li>

        <li class="nav-item"><a class="nav-link" style="color:#c9cbcd" href="#">
            {{link12}}
        </a> </li>
         
    </ul>

</nav>


