<p *ngIf="myInfo == undefined">Failed fetching user info from remote server</p>
<div *ngIf="myInfo != undefined"> 
    <div class="container-fluid">
        <div class="d-flec flex-row">
            User: {{myInfo.FirstName}}{{myInfo.LastName}}
        </div>

        <div class="flex-column">
            Email: {{myInfo.mix_id}}@mix.wvu.edu
        </div>

        <div class="flex-column">
            GitHub:
            <a href={{myInfo.GitHub}}>{{myInfo.GitHub}}</a>
        </div>
    </div>


</div>