<div class="container-fluid">
  <HockeyReference-players>loading</HockeyReference-players>
  <HockeyReference-teams>loading</HockeyReference-teams>
  <HockeyReference-seasons>loading</HockeyReference-seasons>
  <HockeyReference-season>loading</HockeyReference-season>
  
    <div class="row">
      
      <div class="col ">
        <app-player-card>loading</app-player-card>
      </div>
      <div class="col ">
        <HockeyReference-body>loading</HockeyReference-body>
      </div>
      <div class="col ">
        <HockeyReference-stathead>loading</HockeyReference-stathead>
      </div>
    
     
    </div>
  </div>
  