
<p class="ex1"><b>NHL Stats and History</b> The complete source for current and historical NHL players, teams, scores and leaders.</p>
<div class="container-fluid">

    <div class="row">
      
      <div class="col">
        <app-player-card>loading</app-player-card>
      </div>
      <div class="col">
        <HockeyReference-body>loading</HockeyReference-body>
      </div>
      <div class="col">
        <HockeyReference-stathead>loading</HockeyReference-stathead>
      </div>
    
     
    </div>
  </div> 