<div class="card card-custom shadow-lg  bg-white rounded" style="width: 35rem; height: 100rem;">
   
    <div class="card-header  head-custom"> <a style="color:#ffffff" href="/players/">{{Header}}</a>

      
      </div>
      <div class="card-body">
        <a href="/players/e/ellerke01.html"><img class="poptip" data-tip="Keaton Ellerby" alt="Keaton Ellerby" src="https://www.hockey-reference.com/req/202103041/images/headshots/ellerke01-2015.jpg"></a>
        <a href="/players/s/shuggju01.html"><img class="poptip" data-tip="Justin Shugg" alt="Justin Shugg" src="https://www.hockey-reference.com/req/202103041/images/headshots/shuggju01-2015.jpg"></a>
       
        <a href="/players/j/jonesda01.html"><img class="poptip" data-tip="David Jones" alt="David Jones" src="https://www.hockey-reference.com/req/202103041/images/headshots/jonesda01-2015.jpg"></a>
        <a href="/players/s/shuggju01.html"><img class="poptip" data-tip="Justin Shugg" alt="Justin Shugg" src="https://www.hockey-reference.com/req/202103041/images/headshots/shuggju01-2015.jpg"></a>

        <a href="/players/e/ellerke01.html"><img class="poptip" data-tip="Keaton Ellerby" alt="Keaton Ellerby" src="https://www.hockey-reference.com/req/202103041/images/headshots/ellerke01-2015.jpg"></a>
        
        <a href="/players/j/jonesda01.html"><img class="poptip" data-tip="David Jones" alt="David Jones" src="https://www.hockey-reference.com/req/202103041/images/headshots/jonesda01-2015.jpg"></a>
                <a href="/players/e/ellerke01.html"><img class="poptip" data-tip="Keaton Ellerby" alt="Keaton Ellerby" src="https://www.hockey-reference.com/req/202103041/images/headshots/ellerke01-2015.jpg"></a>
        <a href="/players/s/shuggju01.html"><img class="poptip" data-tip="Justin Shugg" alt="Justin Shugg" src="https://www.hockey-reference.com/req/202103041/images/headshots/shuggju01-2015.jpg"></a>
        <a href="/players/j/jonesda01.html"><img class="poptip" data-tip="David Jones" alt="David Jones" src="https://www.hockey-reference.com/req/202103041/images/headshots/jonesda01-2015.jpg"></a>
                <a href="/players/s/shuggju01.html"><img class="poptip" data-tip="Justin Shugg" alt="Justin Shugg" src="https://www.hockey-reference.com/req/202103041/images/headshots/shuggju01-2015.jpg"></a>

        <a href="/players/j/jonesda01.html"><img class="poptip" data-tip="David Jones" alt="David Jones" src="https://www.hockey-reference.com/req/202103041/images/headshots/jonesda01-2015.jpg"></a>
        <a href="/players/e/ellerke01.html"><img class="poptip" data-tip="Keaton Ellerby" alt="Keaton Ellerby" src="https://www.hockey-reference.com/req/202103041/images/headshots/ellerke01-2015.jpg"></a>


<p> 
</p>
        <form class="srbasic sr_goto no-deserialize concat customize-bar" id="player_roster" method="get" action="/route.cgi">
            <strong>View any Active Player:</strong>
        
                <div class="fieldset">
                    <div class="formfield">
                        <select name="team_val" class="sr_pages_nav no_chosen sr_load_json custom-select" id="team_choice" data-json-key="player_json" data-fill="#player_roster .player_list">
                          <option value="" selected="selected" disabled="disabled">Choose a Team</option>
                            
                            <option value="ANA">Anaheim Ducks</option>
                            
                            <option value="ARI">Arizona Coyotes</option>
                            
                            <option value="BOS">Boston Bruins</option>
                            
                            <option value="BUF">Buffalo Sabres</option>
                            
                            <option value="CGY">Calgary Flames</option>
                            
                            <option value="CAR">Carolina Hurricanes</option>
                            
                            <option value="CHI">Chicago Blackhawks</option>
                            
                            <option value="COL">Colorado Avalanche</option>
                            
                            <option value="CBJ">Columbus Blue Jackets</option>
                            
                            <option value="DAL">Dallas Stars</option>
                            
                            <option value="DET">Detroit Red Wings</option>
                            
                            <option value="EDM">Edmonton Oilers</option>
                            
                            <option value="FLA">Florida Panthers</option>
                            
                            <option value="LAK">Los Angeles Kings</option>
                            
                            <option value="MIN">Minnesota Wild</option>
                            
                            <option value="MTL">Montreal Canadiens</option>
                            
                            <option value="NSH">Nashville Predators</option>
                            
                            <option value="NJD">New Jersey Devils</option>
                            
                            <option value="NYI">New York Islanders</option>
                            
                            <option value="NYR">New York Rangers</option>
                            
                            <option value="OTT">Ottawa Senators</option>
                            
                            <option value="PHI">Philadelphia Flyers</option>
                            
                            <option value="PIT">Pittsburgh Penguins</option>
                            
                            <option value="SJS">San Jose Sharks</option>
                            
                            <option value="STL">St. Louis Blues</option>
                            
                            <option value="TBL">Tampa Bay Lightning</option>
                            
                            <option value="TOR">Toronto Maple Leafs</option>
                            
                            <option value="VAN">Vancouver Canucks</option>
                            
                            <option value="VEG">Vegas Golden Knights</option>
                            
                            <option value="WSH">Washington Capitals</option>
                            
                            <option value="WPG">Winnipeg Jets</option>
                            
                        </select>
                    </div>
                </div>
                
                <div class="fieldset help-space">
                    <div class="formfield help-space">
                        <select name="team_val help-space" class="sr_pages_nav no_chosen sr_load_json help-space" id="team_choice" data-json-key="player_json" data-fill="#player_roster .player_list">
                          <option value="" selected="selected" disabled="disabled">Then a player</option>
                            
                            <option value="ANA">{{player1}}</option>
                            
                            <option value="ARI">Player 2</option>
                            
                            <option value="BOS">Player 3</option>
                            
                            <option value="BUF">Player 4</option>
                            
                            <option value="CGY">Player 5</option>
                            
                            <option value="CAR">Player 6</option>
                            
                            <option value="CHI">Player 7</option>
                            
                            <option value="COL">Player 8</option>
                            
                            <option value="CBJ">Player 9</option>
                            
                            <option value="DAL">Player 10</option>
                            
                            <option value="DET">Player 11</option>
                            
                            <option value="EDM">Player 12</option>
                            
                            <option value="FLA">Player 13</option>
                            
                            <option value="LAK">Player 14</option>
                            
                            <option value="MIN">Player 15</option>
                            
                            <option value="MTL">Player 16</option>
                            
                            <option value="NSH">Player 17</option>
                            
                            <option value="NJD">Player 18</option>
                            
                            <option value="NYI">Player 19</option>
                            
                            <option value="NYR">Player 20</option>
                            
                        </select>
                    </div>
                </div>
                
                
                    
                    <div class="fieldset spacer">
                        <button type="button" class="btn btn-mysize myClass btn-lg ">Go!</button>                    </div>
                
            
            
        </form>
      
        <div class="dropdown drop-spacing HOF-Select">
            <p><b>Select a Hall of Famer: </b></p>
            <button class="btn btn-secondary dropdown-toggle HOF-Select" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Select a player
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" href="https://www.hockey-reference.com/players/h/howego01.html">Gordie Howe</a></li>
                <li><a class="dropdown-item" href="https://www.hockey-reference.com/players/g/gretzwa01.html">Wayne Gretzky</a></li>
                <li><a class="dropdown-item" href="https://www.hockey-reference.com/players/l/lemiema01.html">Mario Lemiuex</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://www.hockey-reference.com/awards/hhof.html">Full List</a></li>
            </ul>
          </div>
          <li><a href="#">Recent Debuts</a></li>
</div>
    <style>
     
       
        .card-custom {
      
            border-top:1px solid #c9cbcd;
            border-bottom:3px solid #0b6186;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 26px;
            font-weight: bold;

         

         
margin-left:20px;
margin-top: 10px;


            
        }
        .head-custom{
            display: block;
                font-size: 1.5em;
            height: 50px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                
                background-color: #0b6186;
                padding: 5px 8px;
                color: #edeeef;
                font-weight: bold;
                font-size: 24px;
}
        .myClass{
            background-color: #0b6186;
            color: white;
            width: 66px; height: 50px;
            padding-right: 5px;
            padding-left: 5px;
        }
        /* Modify brand and text color */

        .customize-bar{
            border-top:1px solid #c9cbcd;
            border-bottom:1px solid #c9cbcd;
            border-right:1px solid #c9cbcd;
            border-left:1px solid #c9cbcd;
            margin-bottom: 8px;
        }

        .spacer{
            margin-bottom: 30px;
            margin-left: 8px;
        }

        .custom-select{
            width: 320px;
            color: grey;
        }

        .custom-secondary{
            width: 1000px;
        }
       
        .drop-spacing{
            padding-top: 0px;
        }

    .HOF-Select{
        width: 450px;
        
        border-top:1px solid #c9cbcd;
            border-bottom:1px solid #c9cbcd;
            border-right:1px solid #c9cbcd;
            border-left:1px solid #c9cbcd;
            margin-top: 1px;
            margin-bottom: 16px;
           
    }

    .help-space{
       
       margin-top:8px;
       margin-bottom: 12px;
       width: 450px;
       color: grey;
       
      }

    </style>
   
    
  </div>
